/* @font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_WEIGHT_VALUE;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
} */

body {
  background-color: #2b5a52;
  color: #948c8c;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 78%;
  left: 10%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: block;
  position: fixed;
}

/* .logo:hover {
filter: invert(55%) sepia(30%) saturate(3640%) hue-rotate(311deg) brightness(106%) contrast(78%);
} */

@-webkit-keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.wolf {
  width: 10%;
  position: fixed;
  left: 4%;
  top: 27vh;
  opacity: 0;
  transition: opacity 2s;
  -webkit-animation: rotateY 1s infinite linear;
  animation: rotateY 4s infinite linear;
}

.st0 {
  fill: #948c8c;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

.apple {
  width: 4%;
  position: absolute;
  top: 8vh;
  right: 16vw;
  z-index: 0;
  transform: rotate(18deg);
  transition: opacity 0.5s;
  opacity: 0;
  animation: rotate 2s linear infinite;
}

.header {
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.map {
  mix-blend-mode: screen;
  display: block;
  height: 54%;
  width: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 33vh;
  filter: invert(1);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
}

/* #name {
  color: #d689a5;
  font-size: 8em;
  font-family: 'Calistoga', sans;
  transition: color 0.5s;
}

#name:hover {
  color: #e37676;
  cursor: pointer;
  transition: color 0.5s;
} */

.language {
  position: fixed;
  right: 3vw;
  top: 3vh;
}

.intro {
  display: block;
  position: fixed;
  top: 42vh;
  left: 50%;
  width: 31%;
  transform: translate(-50%);
  font-size: 1.1rem;
  font-family: Garamond, serif;
  text-align: center;
  max-height: 54vh;
  transition: opacity 0.5s;
}

.main {
  position: fixed;
  top: 32vh;
  left: 50%;
  width: 31%;
  transform: translate(-50%);
  font-size: 1.1rem;
  font-family: Garamond, serif;
  text-align: center;
  max-height: 55vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s;
}

/* .info {
  width: 20%;
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
} */

dt {
  padding: 3px 20px;
}

.bottom-nav {
  width: 112%;
  font-size: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: space-around;
  position: fixed;
  bottom: 5vh;
  display: flex;
  flex-direction: row;
}

.contacts {
  opacity: 0;
  /* font-size: 1.2rem; */
  position: absolute;
  bottom: 3.7vh;
  transition: opacity 0.5s;
}

ul {
  padding-inline-start: 0px;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #e37676;
}

.sazinies:hover {
  cursor: pointer;
  color: #e37676;
}

.par:hover {
  cursor: pointer;
  color: #e37676;
}

.rezerve:hover {
  cursor: pointer;
  color: #e37676;
}

.directions:hover {
  cursor: pointer;
  color: #e37676;
}
